<connectionStrings>
  <add name="DbMejia" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=DbMejia;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient"/>
</connectionStrings>