body {
  margin: 0;
  width: 100%;
  background-color: lightgray;
}

#top {
    width: 100%;
    height: 200px;
    background: #1A2980; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #26D0CE, #1A2980); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #26D0CE, #1A2980); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

* {
    box-sizing: border-box;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    height: 200px; /* Should be removed. Only for demonstration */
}

.left, .right {
    width: 25%;
}

.middle {
    width: 50%;
    text-align: center;
    font-family: Arial
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#logo {
    margin-top: 50px;
}

.table {
    width: 100%;
    border: 1px solid black;
}

.table tr {
    border: 1px solid black;
}

.container2 {
    min-height : 500px;
    margin: 30px;
    background: white;
}

.footer {
    height: 180px;
    background: white;
}

/* Create three unequal columns that floats next to each other */
.column-footer {
    float: left;
    padding: 10px;
    height: 180px; /* Should be removed. Only for demonstration */
}